body {
	display: block;
	position: relative;
	padding: 0;
	margin: 0;
	width: 100%;
	min-height: 100vh;
	background-color: #F0F0F0;
	font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0.1);
    width: 8px;
    height: 0;
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

::-webkit-resizer {
    background-color: transparent;
}

input[type=radio] {
	-webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	-moz-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	-o-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	-webkit-appearance: none;
	background-color: #fff;
	border: 2px solid #000;
	border-radius: 100%;
	cursor: pointer;
	display: inline-block;
	height: 16px;
	position: relative;
	outline: none;
	width: 16px;
	vertical-align: text-bottom;
}
input[type=radio]::after {
	-webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	-moz-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	-o-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	background-color: #fff;
	border-radius: 50%;
	content: '';
	height: 16px;
	left: -2px;
	position: absolute;
	pointer-events: none;
	top: -2px;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	overflow: hidden;
	width: 16px;
}
input[type=radio]:checked::after {
	-webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	-moz-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	-o-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	background-color: #000;
	border-color: #000;
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-ms-transform: scale(0.5);
	-o-transform: scale(0.5);
	transform: scale(0.5);
}





.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
}

.nowrap {
	flex-wrap: nowrap;
}

.row.center-x {
	justify-content: center;
}

.row.center-y {
	align-items: center;
}

.column.center-x {
	align-items: center;
}

.column.center-y {
	justify-content: center;
}

.space-between {
	justify-content: space-between;
}

.fullw {
	width: 100%;
}

.fullh {
	height: calc(100vh);
}



.--bg-white {
	background-color: #FFF;
}




.app {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
}

.pagina-index {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	height: calc(100vh - 46px);
	background-color: #FFF;
}

.pagina-avaliacao-satisfacao {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	width: 100%;
	height: auto;
	padding-bottom: 40px;
}

.pagina-avaliacao-satisfacao.--step0 {
	height: calc(100vh - 40px);
}

.pagina-inicial-painel {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	width: 100%;
	height: calc(100vh - 44px);
}

.pagina-painel {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	width: 100%;
	height: calc(100vh - 79px);
}

.pagina-painel-auto {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	width: 100%;
	height: auto;
}

.pagina-login {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: #FFF;
}

.login {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	position: relative;
}

.login-sistema {
	margin: 20px 0;
	width: 450px;
	height: auto;
}

.login-title {
	font-family: 'Roboto', sans-serif;
	font-size: 34px;
	font-weight: 300;
	margin: 15px 0;
}

.login-description {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
}

.login input {
	width: calc(310px - 16px);
	height: 30px;
	margin: 5px 0;
	padding: 0 8px;
	border-radius: 1px;
	border: 1px solid rgba(0, 0, 0, 0.25) !important;
}

.login input:focus {
	border: 1px solid rgba(0, 0, 0, 0.45) !important;
}

.login input::placeholder {
	font-size: 14px;
}

.login .input.--error input {
	border: 1px solid #e81123 !important;
}

.login .input-error {
	margin: 10px 0 0 0;
	color: #e81123;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
}

.login .btn-login {
	margin: 40px 0;
	width: 310px;
	height: 32px;
	color: #FFF;
	background-color: #006CAD;
	border-radius: 1px;
	border: 3px solid transparent;
	text-transform: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.login .btn-login:hover {
	background-color: #014F7C;
}

.header {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	width: 100%;
}

.topbar {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	position: relative;
	width: 100%;
	height: 44px;
	background-color: #006CAD;
}

.topbar .left,
.topbar .center,
.topbar .right {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	position: relative;
	height: 100%;
}

.topbar .left,
.topbar .right {
	z-index: 1;
}

.topbar .center {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 100%;
}

.topbar ul {
	display: flex;
	flex-flow: row nowrap;
	padding: 0;
	margin: 0;
	list-style-type: none;
	height: 100%;
}

.topbar li {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	height: 100%;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
}

.topbar li::after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0;
	background-color: #014F7C;
	transition: all 100ms ease-in-out;
}

.topbar li:hover::after {
	height: 5px;
}

.topbar-search {
	padding: 0 10px;
}

.topbar-search input {
	width: 200px;
	height: 26px;
	padding: 0 5px;
	font-size: 14px;
	font-weight: 600;
	color: #FFF;
	background-color: transparent;
	border-radius: 1px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #fff;
	outline: none;
}

.topbar-search input:focus {
	border-bottom-width: 2px;
}

.topbar-search ::placeholder {
	color: rgba(255, 255, 255, 1);
	font-weight: 400;
}

.topbar-search-results {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	position: absolute;
	top: 40px;
	left: 10px;
	width: 215px;
	height: 500px;
	background-color: #006CAD;
	color: #fff;
}

.topbar-search-section {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	width: calc(100% - 10px);
	height: auto;
	margin: 5px 5px;
}

.topbar-search-section-title {
	position: relative;
	margin: 5px 5px;
	font-size: 12px;
	text-transform: uppercase;
}

.topbar-search-section-title::after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 150%;
	height: 1px;
	background-color: rgba(255, 255, 255, 1);
}

.topbar-search-results-wrapper {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	width: 100%;
	height: auto;
}

.topbar-search-result {
	cursor: pointer;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	width: 100%;
	min-height: 50px;
	background-color: rgba(0, 0, 0, 0.1);
}

.topbar-search-result:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

.topbar-search-image-placeholder {
	margin: 0 10px 0 10px;
	width: 30px;
	height: 30px;
	border-radius: 20px;
}

.topbar-search-name {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

.topbar-logo {
	position: relative;
	padding: 0 30px 0 0;
	height: 24px;
}

.topbar-logo img {
	height: 100%;
}

.topbar-logo::after {
	content: '';
	display: block;
	position: absolute;
	right: 0;
	top: -3px;
	width: 1px;
	height: 30px;
	background-color: rgba(255, 255, 255, 0.5);
}

.topbar-title {
	color: #FFF;
	min-width: 170px;
	padding: 0 0 0 30px;
	font-size: 22px;
	font-weight: 300;
}

.topbar-username {
	color: #fff;
	margin: 0 10px;
}

.topbar-user-picture {
	display: block;
	position: relative;
	width: 25px;
	height: auto;
	border-radius: 38px;
	overflow: hidden;
}

.linkbar {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	height: 35px;
	background-color: #000;
	/*background-image: url('../img/barras.png');
	background-repeat: repeat;
	background-size: 25px;*/
}

.linkbar ul {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 100%;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.linkbar li {
	position: relative;
	height: 100%;
	color: #fff;
}

.linkbar li::after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0;
	background-color: #FFF;
	transition: all 100ms ease-in;
}

.linkbar li:hover::after {
	height: 5px;
}

.linkbar li.active::after {
	height: 5px;
}

.linkbar a {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 100%;
	padding: 0 10px;
	color: #fff;
	font-size: 12px;
	font-weight: 500;
	text-decoration: none;
	text-transform: uppercase;
}

.search-wrapper {
	position: relative;
	padding: 65px 0 65px 0;
}

.search {
	position: relative;
	width: 584px;
	height: 44px;
	border-radius: 2px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.08);
	/*box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16);*/
}

.search-input {
	width: 520px;
	height: 40px;
	background-color: transparent;
	padding: 2px 0 2px 15px;
	border: none;
	outline: none;
	font-size: 16px;
}

.boldtext {
	font-weight: 600;
}

.buscanomes {
	display: block;
	position: relative;
}

.buscanomes-resultados {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	position: absolute;
	top: 44px;
	left: 1px;
	width: 584px;
	max-height: 200px;
	background-color: #fff;
	box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
	z-index: 1;
}

.buscanomes-resultados ul {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.buscanomes-resultados li {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
}

.buscanomes-resultados a {
	display: block;
	position: relative;
	width: calc(100% - 32px);
	height: auto;
	padding: 4px 16px;
	color: #000;
	font-size: 16px;
	text-decoration: none;
}

.buscanomes-resultados a:hover {
	background-color: #EEE;
}

.buscanomes-resultados a:focus {
	background-color: #EEE;
}

.buscanomes-seta {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 100%;
	border: none;
	background-color: transparent;
}

.buscanomes-seta svg {
	fill: #006CAD;
}

.satisfacao {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	margin: 25px 0;
	width: 600px;
	height: auto;
	background-color: rgba(255, 255, 255, 1);
	-webkit-box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:    2px 2px 10px 1px rgba(0, 0, 0, 0.05);
	box-shadow:         2px 2px 10px 1px rgba(0, 0, 0, 0.05);
}

.satisfacao-header {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	width: 100%;
	padding-bottom: 10px;
	border-bottom: 5px solid #f0f0f0;
}

.satisfacao-footer {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	width: 100%;
	padding: 15px 0 50px 0;
}

.satisfacao-senai {
	display: block;
	height: 25px;
	margin: 15px 0;
}

.satisfacao-footer .satisfacao-senai {
	display: block;
	height: 40px;
	margin: 0;
}

.satisfacao-logo {
	display: block;
	height: 40px;
	margin: 15px 0;
}

.satisfacao-separator {
	display: block;
	position: relative;
	width: 425px;
	height: 1px;
	background-color: rgba(0, 0, 0, 0.25);
}

.satisfacao-descricao {
	display: block;
	margin: 20px 0;
	width: 435px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	text-align: center;
}

.satisfacao-step0,
.satisfacao-step2 {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	margin: 15px 0;
	width: 100%;
	height: auto;
}

.satisfacao-step0-curso {
	margin: 15px 15px;
}

.satisfacao-step0 .inputs {
	margin-top: 10px;
}

.satisfacao-step0 .input-radio {
	margin: 15px 15px;
}

.satisfacao-step0 .btn.btn-beta {
	margin: 10px 0 0 15px;
}

.satisfacao-step2 {
	margin: 50px 0;
	align-items: center;
}

.satisfacao-step2-message {
	font-size: 18px;
}

.satisfacao-step2-link {
	display: block;
	position: relative;
	margin-top: 20px;
	color: #000;
	text-decoration: none;
}

.satisfacao-step2-link:hover {
	color: #01659F;
	border-bottom: 1px solid #01659F;
}

.satisfacao-area {
	margin: 15px 0;
}

.satisfacao-area .input {
	margin: 15px 15px;
	padding: 10px;
}

.satisfacao-area .input-radio {
	margin: 5px 0;
}

.satisfacao-area .input-description {
	max-width: 525px;
	margin-bottom: 15px;
}

.satisfacao-area-title {
	display: block;
	position: relative;
	padding: 4px 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
}

.satisfacao-area-title:not(:nth-child(1)) {
	margin-top: 18px;
}

.satisfacao-area-title::before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 4px;
	height: 100%;
	background-color: #01659F;
}

.satisfacao-area textarea {
	display: block;
	position: relative;
	width: 400px;
	height: 100px;
	background-color: transparent;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #000;
}

.satisfacao-area textarea:focus {
	outline: none;
	border-bottom-width: 2px;
}

.satisfacao-area .btn.btn-beta {
	font-size: 16px;
	margin-left: 25px;
}

.panel-item {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 150px;
	height: 150px;
	margin: 15px;
	color: #000;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	text-decoration: none;
	background-color: rgba(255, 255, 255, 0.5);
}

.panel-item:hover {
	background-color: #FFF;
}

.panel-item i {
	font-size: 22px;
	padding: 10px;
}

.page-title-wrapper {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	width: 100%;
	height: 75px;
}

.page-title-wrapper.--with-subtitle {
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100vw;
	height: 115px;
}

.page-title-wrapper.--with-subtitle::after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background-color: rgba(0, 0, 0, 0.025);
}

.panel-page-title {
	position: relative;
	color: #000;
	font-family: 'Roboto', sans-serif;
	font-size: 34px;
	font-weight: 300;
	padding: 0;
	margin: 25px 50px;
}

.--with-subtitle .panel-page-title {
	margin: 25px 0 0 50px;
}

.panel-page-title.--with-buttons::after {
	content: '';
	display: block;
	position: absolute;
	top: 5px;
	right: -25px;
	background-color: rgba(0, 0, 0, 0.15);
	width: 1px;
	height: 75%;
}

.panel-page-subtitle {
	position: relative;
	color: #000;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 300;
	padding: 0;
	margin: 0 0 0 50px;
}

.panel-list-grid {
	display: block;
	position: relative;
	width: 95%;
	margin: 15px auto 0 auto;
}

.ver-satisfacao {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	margin: 25px 50px;
}

.nova-turma {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	margin: 25px 50px;
}

.nova-turma-title {
	margin: 0 0 10px 0;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
}

.nova-turma-inputs {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	margin: 15px 0;
}

.nova-turma-inputs .multi-input {
	align-items: flex-end;
}

.nova-turma-inputs .multi-input:not(.--with-action),
.nova-turma-inputs .input {
	margin: 10px 0;
}

.nova-turma-inputs .multi-input.--with-action .input {
	margin: 0 20px 0 0;
}

.nova-turma-separator {
	display: block;
	position: relative;
	height: 50px;
}

.nova-turma .docentes-list {
	width: 825px;
	height: 150px;
}

.nova-turma .alunos-list {
	width: 800px;
	height: 350px;
}

.nova-turma .btn-cadastrar {
	margin: 25px 0 0 0;
}

.nova-turma-aluno-resultados {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	position: absolute;
	top: 40px;
	left: 0;
	width: 500px;
	max-height: 200px;
	background-color: #fff;
	box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
	z-index: 1;
}

.nova-turma-aluno-resultados ul {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.nova-turma-aluno-resultados li {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
}

.nova-turma-aluno-resultados .result {
	cursor: pointer;
	display: block;
	position: relative;
	width: calc(100% - 32px);
	height: auto;
	padding: 4px 16px;
	color: #000;
	font-size: 16px;
	text-decoration: none;
}

.nova-turma-aluno-resultados .result:hover {
	background-color: #EEE;
}

.nova-turma-aluno-resultados .result:focus {
	background-color: #EEE;
}

.satisfacao-graficos {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	width: 600px;
	height: auto;
	margin: 15px 0;
}

.satisfacao-alunos {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	width: 375px;
	height: 400px;
	margin: 15px 15px 0 0;
}

.satisfacao-alunos-header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: flex-start;
	position: relative;
	width: 100%;
	height: auto;
	margin: 0 0 5px 0;
}

.satisfacao-alunos-header::after {
	content: '';
	display: block;
	position: absolute;
	left: -3%;
	bottom: -4px;
	width: 106%;
	height: 1px;
	background-color: rgba(0, 0, 0, 0.25);
}

.satisfacao-alunos-list {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	width: 100%;
	height: auto;
}

.satisfacao-alunos-item {
	cursor: pointer;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: flex-start;
	position: relative;
	width: 100%;
	height: auto;
	margin-left: -10px;
	padding: 5px 10px;
	color: #000;
	text-decoration: none;
}

.satisfacao-alunos-item:nth-child(odd) {
	background-color: #f0f0f0;
}

.satisfacao-alunos-item:hover {
	background-color: #D4EEFE;
}

.satisfacao-alunos--nome,
.satisfacao-alunos--realizou {
	font-size: 14px;
}

.satisfacao-alunos-header .satisfacao-alunos--nome,
.satisfacao-alunos-header .satisfacao-alunos--realizou {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

.satisfacao-alunos-item .satisfacao-alunos--nome,
.satisfacao-alunos-item .satisfacao-alunos--realizou {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.satisfacao-graficos {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	width: 800px;
}

.satisfacao-graficos .grafico {
	margin: 0 0 20px 0;
}

.satisfacao-graficos .grafico:nth-child(even) {
	margin-left: 50px;
}

.grafico {
	border-left: 1px solid rgba(0, 0, 0, 0.5);
}

.grafico-nome {
	display: block;
	position: relative;
	padding: 5px 15px;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
}

.grafico-nome::before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 2px;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}




.added-items-list {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	overflow-y: scroll;
}

.added-item {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	width: 100%;
	min-height: 30px;
	margin: 1px 0;
}

.added-item:nth-child(1) {
	margin-top: 4px;
}

.added-item::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: -5px;
	width: calc(100% + 5px);
	height: 30px;
}

.added-item:nth-child(odd)::before {
	background-color: rgba(0, 0, 0, 0.05);
}

.added-item .input {
	margin: 0 20px 0 0;
}

.added-item .input:nth-child(1) {
	margin-left: 5px;
}

.added-item .input-preview {
	margin: 0 !important;
}



.modal-wrapper {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.modal-background {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 10;
}

.modal {
	display: block;
	position: relative;
	min-width: 400px;
	background-color: #fff;
	border-radius: 2px;
	z-index: 10;
}

.modal-topbar {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	width: 100%;
	height: 40px;
	background-color: #01659F;
}

.modal-topbar::after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 4px;
	background-color: #014F7C;
}

.modal-title {
	color: #fff;
	padding: 10px 15px;
	font-size: 18px;
}

.modal-content {
	display: block;
	position: relative;
	width: calc(100% - 30px);
	height: auto;
	padding: 15px;
}

.modal-close {
	display: block;
	position: absolute;
	top: 8px;
	right: 15px;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}

.modal-section-title {
	position: relative;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
}

/*
.modal-section-title::after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: -4px;
	width: 125%;
	height: 2px;
	background-color: rgba(0, 0, 0, 1.0);
}*/

.modal-inputs {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
}

.modal-inputs .input {
	margin-bottom: 20px;
}

.modal-inputs .input.--lessmargin {
	margin-bottom: 5px;
}

.input {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
}

.input.--small,
.input.--small input,
.input.--small textarea,
.input.--small select,
.input.--small .input-preview {
	width: 125px;
}

.input.--midmid,
.input.--midmid input,
.input.--midmid textarea,
.input.--midmid select,
.input.--midmid .input-preview {
	width: 175px;
}

.input.--medium,
.input.--medium input,
.input.--medium textarea,
.input.--medium select,
.input.--medium .input-preview {
	width: 200px;
}

.input.--big,
.input.--big input,
.input.--big textarea,
.input.--big select,
.input.--big .input-preview {
	width: 300px;
}

.input.--monster,
.input.--monster input,
.input.--monster textarea,
.input.--monster select,
.input.--monster .input-preview {
	width: 500px;
}

.input label {
	font-size: 11px;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
}

.input input:not([type=radio]) {
	font-family: 'Open Sans', sans-serif;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #000;
	background-color: transparent;
}

.input input:focus {
	outline: none;
	border-bottom-width: 2px;
}

.input textarea {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #000;
}

.input textarea:focus {
	outline: none;
	border-bottom-width: 2px;
}

.input select {
	font-family: 'Open Sans', sans-serif;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #000;
	background-color: transparent;
}

.input select:focus {
	outline: none;
	border-bottom-width: 2px;
}

.input .input-preview {
	font-family: 'Open Sans', sans-serif;	
	min-height: 22px;
	margin: 0 0 8px 8px;
}

.input-radio {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	position: relative;
}

.input-radio-title {
	margin: 0 5px;
}

.multi-input {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: flex-start;
}

.multi-input .input {
	margin: 0 20px 20px 0;
}

.input-title {
	font-size: 16px;
	font-weight: 500;
}

.input-description {
	margin: 5px 0;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

.input-satisfacao textarea {
	margin: 5px 0 0 0;
	width: 365px;
	height: 150px;
}

.row-btn-wrapper {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	position: relative;
}

.row-btn-wrapper .btn-row {
	margin: 0 2px;
}

.btn {
	cursor: pointer;
	display: block;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	border: none;
	transition: all 160ms ease-in;
	-webkit-transition: all 160ms ease-in;
}

.btn.btn-alpha {
	padding: 6px 10px;
	font-size: 12px;
	font-weight: 400;
	background-color: #fff;
	border-radius: 2px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.btn.btn-alpha:hover {
	background-color: #D4EEFE;
}

.btn.btn-beta {
	padding: 6px 10px;
	font-size: 14px;
	font-weight: 400;
	background-color: transparent;
	border-radius: 2px;
}

.btn.btn-beta:hover {
	background-color: #D4EEFE;
}

.btn-add {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 8px;
	height: 28px;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	background-color: transparent;
}

.btn.btn-add:hover {
	background-color: #D4EEFE;
}

.btn-remove {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 30px;
	margin-left: -5px;
	padding: 0 8px;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 400;
	background-color: transparent;
}

.btn.btn-remove:hover {
	background-color: #D4EEFE;
}

.btn-row {
	padding: 0 5px;
	background-color: #fff;
	border: 1px solid #f0f0f0;
	text-transform: uppercase;
	font-size: 14px;
}

.btn-row:hover {
	background-color: #F6F6F6;
}

.btn-edit:hover {
	color: #fff;
	border-color: #025E95;
	background-color: #006CAD;
}

.btn-delete:hover {
	color: #fff;
	border-color: #F02B2B;
	background-color: #FF5555;
}



.footer {
	display: flex;
	flex-flow: row;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	left: 0;
	bottom: -45px;
	width: 100%;
	height: 40px;
	background-color: #f0f0f0;
	border-top: 2px solid #eaeaea;
}

.footer .footer-devnote {
	color: #464646;
	font-size: 14px;
	margin-left: 25px;
}

.footer .footer-devnote a {
	color: #464646;
	text-decoration: none;
}

.footer .footer-devnote a:hover {
	text-decoration: underline;
}

.footer .footer-login {
	color: #464646;
	font-size: 14px;
	margin-right: 25px;
	text-decoration: none;
}

.footer .footer-login:hover {
	text-decoration: underline;
}

.search-page {
	background-color: #fff;
}








/**
 * ********************************************
 * Helper Classes
 * ********************************************
 */

/*
 * Hide visually and from screen readers
 */
.hidden {
	display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
	*,
	*:before,
	*:after,
	*:first-letter,
	*:first-line {
		background: transparent !important;
		color: #000 !important; /* Black prints faster:
								   http://www.sanbeiji.com/archives/953 */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
	 * Don't show links that are fragment identifiers,
	 * or use the `javascript:` pseudo protocol
	 */
	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	/*
	 * Printing Tables:
	 * http://css-discuss.incutio.com/wiki/Printing_Tables
	 */
	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}


