//
// Bluebar
//

.bluebar {
	.submenu {
		z-index: 1;
	}
}

.bluebar-left,
.bluebar-right {
  z-index: 1;
}

//
// Inputs
//

.input.--file {
  input {
  }
}

//
// Loading
//

.loading-wrapper {
  z-index: 1;

  div {
    z-index: 10;
  }
}

.loading-background {
  z-index: 10;
}

.loading {
  z-index: 10;
}

//
// Modal
//

.modal-wrapper {
  z-index: 1;
}

.modal-background {
  z-index: 10;
}

.modal {
  z-index: 10;
}


//
// Página:
//  Nova/Editar Turma
//

.turma {
  .alunos {
    z-index: 1;
  }
}

