.row {
	display: flex;
	flex-direction: row;
}

.row.center-x {
	justify-content: center;
}

.row.center-y {
	align-items: center;
}

.column {
	display: flex;
	flex-direction: column;
}

.column.center-x {
	align-items: center;
}

.column.center-y {
	justify-content: center;
}

.nowrap {
	flex-wrap: nowrap;
}

.space-between {
	justify-content: space-between;
}

.wrap {
	flex-wrap: wrap;
}

.nowrap {
	flex-wrap: nowrap;
}

.full-width {
	width: 100%;
}

.full-height {
	height: 100%;
}

