//
// Constantes
//

$BLUEBAR_HEIGHT:      45px;
$NAVBAR_HEIGHT:       35px;
$FOOTER_HEIGHT:       40px;


body {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
}


//
// Scrollbar
//

::-webkit-scrollbar {
  width: 8px;
  height: 0;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}


//
// Inputs
//

[type=radio] {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

[type=radio]::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: 16px;
  height: 16px;
  pointer-events: none;
}

//
// App
//

.app {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}


//
// Páginas
//

.pagina-login {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
}

.pagina-index {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: calc(100vh - #{$FOOTER_HEIGHT});
}

.pagina-avaliacao-satisfacao {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding-bottom: 40px;
  width: 100%;
  height: auto;
}

.pagina-avaliacao-satisfacao.--step0 {
  height: calc(100vh - #{$FOOTER_HEIGHT});
}

.pagina-painel,
.pagina-painel-index,
.pagina-painel-auto {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  padding-bottom: calc(#{$FOOTER_HEIGHT});
}

.pagina-painel {
  height: calc(100vh - #{$BLUEBAR_HEIGHT} - #{$NAVBAR_HEIGHT} - #{$FOOTER_HEIGHT});
}

.pagina-painel-index {
  height: calc(100vh - #{$BLUEBAR_HEIGHT} - #{$FOOTER_HEIGHT});
}

.pagina-painel-auto {
  height: auto;
}

.pagina-impressao {
  width: 210mm;

  .panel-header {
    .panel-header-left {
      margin-left: 25px;
    }

    .panel-header-right {
      margin-right: 25px;
    }
  }

  .ver-satisfacao {
    padding: 0 25px;
    margin-top: 40px;
  }

  @media print {
    .panel-header {
      .panel-header-left {
        margin-left: 0;
      }

      .panel-header-right {
        margin-right: 0;
      }
    }

    .ver-satisfacao {
      padding: 0;
    }
  }
}


//
// Header
//

.header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
}

//
// Bluebar
//

.bluebar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: $BLUEBAR_HEIGHT;

  ul {
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
    margin: 0;
    height: 100%;

    li {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      height: 100%;

      a {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        height: 100%;
      }
    }

    li::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0;
    }

    li:hover::after {
      height: 5px;
    }

    li:hover {
      .submenu {
        display: flex;
      }
    }
  }

  .submenu {
    display: none;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: $BLUEBAR_HEIGHT;
    left: 0;
    width: 100%;
    height: auto;

    li {
      width: 100%;
      height: auto;
      margin-bottom: 2px;

      a {
        display: block;
        padding: 10px;
        width: calc(100% - 20px);
      }
    }
  }
}

.bluebar-left,
.bluebar-center,
.bluebar-right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
  height: 100%;
}

.bluebar-center {
  position: absolute;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;

  a {
    display: flex;
    flex-flow: row nowrap;
  }
}

.bluebar-search {
  padding: 0 10px;
}

.bluebar-search input {
  width: 200px;
  height: 26px;
  padding: 0 5px;
}

.bluebar-search-results {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  top: 40px;
  left: 10px;
  width: 215px;
  height: 500px;
}

.bluebar-search-section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: calc(100% - 10px);
  height: auto;
  margin: 5px 5px;
}

.bluebar-search-section-title {
  position: relative;
  margin: 5px 5px;
}

.bluebar-search-section-title::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 150%;
  height: 1px;
}

.bluebar-search-results-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: auto;
}

.bluebar-search-result {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 50px;
}

.bluebar-search-image-placeholder {
  margin: 0 10px 0 10px;
  width: 30px;
  height: 30px;
}

.bluebar-logo {
  position: relative;
  padding: 0 30px 0 0;
  height: 24px;
}

.bluebar-logo img {
  height: 100%;
}

.bluebar-logo::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: -3px;
  width: 1px;
  height: 30px;
}

.bluebar-title {
  min-width: 170px;
  padding: 0 0 0 30px;
}

.bluebar-username {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  height: 100%;
}

.bluebar-user-picture {
  display: block;
  position: relative;
  width: 25px;
  height: auto;
}

//
// Navbar
//

.navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: $NAVBAR_HEIGHT;

  ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
  }

  li {
    position: relative;
    height: 100%;
  }

  li::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
  }

  li:hover::after {
    height: 5px;
  }

  li.active::after {
    height: 5px;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    padding: 0 10px;
  }
}


//
// Inputs
//

.input {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.input.--small {
  input,
  textarea,
  select,
  .input-preview {
    width: 125px;
  }
}

.input.--mid {
  input,
  textarea,
  select,
  .input-preview {
    width: 175px;
  }
}

.input.--medium {
  input,
  textarea,
  select,
  .input-preview {
    width: 200px;
  }
}

.input.--big {
  input,
  textarea,
  select,
  .input-preview {
    width: 300px;
  }
}

.input.--monster {
  input,
  textarea,
  select,
  .input-preview {
    width: 500px;
  }
}

.input.--file {
  min-height: 35px;

  input {
    position: absolute;
    overflow: hidden;
    width: calc(100% - 25px);
    height: 25px;
  }

  label {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    width: calc(100% - 25px);
    height: 25px;
  }
}

.input-description {
  margin: 5px 0;
}

.input-radio {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.input-radio-title {
  margin: 0 5px;
}

.multi-input {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.multi-input.--row {
  flex-flow: row nowrap;
}

.multi-input.--row.--center {
  align-items: center;
}

.multi-input.--column {
  flex-flow: row nowrap;
}

.multi-input.--column.--center {
  justify-content: center;
}

.multi-input.--row {
  .input {
    margin-right: 20px;
  }
}

.multi-input.--column {
  .input {
    margin-bottom: 20px;
  }
}

//
// Added Items List
//

.added-items-list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  overflow-y: scroll;
}

.added-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 30px;
  margin: 1px 0;

  div.input {
    height: auto;
    margin-bottom: 0;
  }
}

.added-item::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -5px;
  width: calc(100% + 5px);
  height: 30px;
}


//
// Buttons
//

.btn {
  display: block;
  position: relative;
}

.btn.btn-alpha {
  padding: 6px 10px;
}

.btn.btn-beta {
  padding: 6px 10px;
}

.btn.btn-grid {
  padding: 2px 6px;
}

.btn-add {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  height: 28px;
}

.btn-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 28px;
  padding: 0 8px;
}


// BuscaAvaliações

.busca-avaliacoes-wrapper {
  margin-top: 50px;
}

.busca-avaliacoes {
  display: block;
  position: relative;

  .search {
    position: relative;
    width: 584px;
    height: 44px;

    .search-input {
      padding: 2px 0 2px 15px;
      width: 520px;
      height: 40px;
    }

    .search-arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 100%;
      border: none;
    }
  }

  .results {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 44px;
    left: 1px;
    width: 584px;
    max-height: 190px;
    overflow: hidden;

    ul {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      position: relative;
      padding: 0;
      width: 100%;
      height: auto;
      margin: 0;
    }

    li {
      display: block;
      position: relative;
      width: 100%;
      height: auto;
    }

    a {
      display: block;
      position: relative;
      padding: 4px 16px;
      width: calc(100% - 32px);
      height: auto;
    }

    .bold-text {
      font-weight: 600;
    }
  }
}


// Gráfico

.grafico-nome {
  display: block;
  position: relative;
  padding: 5px 15px;
}

.grafico-nome::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 100%;
}


// Loading

.loading-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.loading-background {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}


// Modal

.modal-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-background {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.modal {
  display: block;
  position: relative;
  min-width: 400px;
  border-radius: 2px;
}

.modal-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  height: 40px;
}

.modal-header::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
}

.modal-close {
  display: block;
  position: absolute;
  top: 8px;
  right: 15px;
}

.modal-content {
  display: block;
  position: relative;
  width: calc(100% - 30px);
  height: auto;
  padding: 15px;

  .input {
    margin-bottom: 15px;
  }

  .btn {
    margin-top: 10px;
  }
}


// Panel

.panel-printbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 210mm;
  height: 50px;
  margin-bottom: 25px;

  .panel-printbar-left {
    margin-left: 25px;
  }

  .panel-printbar-right {
    margin-right: 25px;
  }

  ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  li {
    margin: 0 5px;
  }
}

.panel-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100px;

  .panel-header-left,
  .panel-header-right {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    height: 100%;

    ul {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      position: relative;
      list-style-type: none;
    }

    li {
      margin: 0 5px;
    }
  }

  .panel-header-left {
    margin-left: 50px;
  }

  .panel-header-right {
    margin-right: 50px;
  }

  .panel-titles {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;

    .panel-title {
      position: relative;
      padding: 0;
      margin: 0;
    }

    .panel-title.--with-button {
      margin-right: 50px;
    }

    .panel-title.--with-button::after {
      content: '';
      display: block;
      position: absolute;
      top: 12%;
      right: -25px;
      width: 1px;
      height: 76%;
    }

    .panel-subtitle {
      position: relative;
      padding: 0;
      margin: 0;
    }

    .panel-lowertitle {
      position: relative;
      padding: 0;
      margin: 5px 0;
    }
  }
}

.panel-actions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  .btn {
    margin-right: 10px;
  }
}

.panel-grid {
  display: block;
  position: relative;
  width: 95%;
  margin: 0 auto 0 auto;
}

.panel-grid-buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  .btn {
    margin: 0 2px 0 2px;
  }
}


// Section

.section-title-alpha {
  display: block;
  position: relative;
}

.section-inputs {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  margin-bottom: 15px;
}


.section-inputs.--with-list {
  margin-bottom: 0;

  .input {
    margin-bottom: 0;
  }
}


// Footer

.footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: -$FOOTER_HEIGHT;
  width: 100%;
  height: $FOOTER_HEIGHT;
}

.footer-devnote {
  margin-left: 25px;
}

.footer-login {
  margin-right: 25px;
}



//
// Página:
//  Avaliação de Satisfação
//

.satisfacao {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  margin: 25px 0;
  width: 600px;
  height: auto;
}

.satisfacao-header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  padding-bottom: 10px;
}

.satisfacao-footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 15px 0 50px 0;
}

.satisfacao-senai {
  display: block;
  height: 25px;
  margin: 15px 0;

  .satisfacao-footer & {
    height: 40px;
    margin: 0;
  }
}

.satisfacao-logo {
  display: block;
  height: 40px;
  margin: 15px 0;
}

.satisfacao-separator {
  display: block;
  position: relative;
  width: 425px;
  height: 1px;
}

.satisfacao-descricao {
  display: block;
  margin: 20px 0;
  width: 435px;
}

.satisfacao-step0,
.satisfacao-step2 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: auto;
  margin: 15px 0;
}

.satisfacao-step0 {
  .inputs {
    margin-top: 10px;
  }

  .input-radio {
    margin: 15px 15px;
  }

  .btn.btn-beta {
    margin: 10px 0 0 15px;
  }
}

.satisfacao-step0-curso {
  margin: 15px 15px;
}

.satisfacao-step2 {
  align-items: center;
  margin: 50px 0;

  .btn {
    margin-top: 20px;
  }
}

.satisfacao-area {
  margin: 15px 0;

   .input {
      padding: 10px;
      margin: 15px 15px;
    }

    .input-radio {
      margin: 5px 0;
    }

    .input-description {
      max-width: 525px;
      margin-bottom: 15px;
    }
}

.satisfacao-area-title {
  display: block;
  position: relative;
  padding: 4px 10px;
}

.satisfacao-area-title:not(:nth-child(1)) {
  margin-top: 18px;
}

.satisfacao-area-title::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
}

.satisfacao-area {
  textarea {
    display: block;
    position: relative;
    width: 400px;
    height: 100px;
  }
}

.satisfacao-area .btn.btn-beta {
  font-size: 16px;
  margin-left: 25px;
}

//
// Página:
//  Nova/Editar Turma
//

.turma {
  margin: 0 50px;

  .section-title-alpha {
    margin-bottom: 20px;
  }

  .multi-input {
    margin-bottom: 20px;
  }

  .input {
    margin-bottom: 15px;
  }

  .added-items-list {
    margin-bottom: 50px;
  }

  .added-item {
    div.input {
      margin-right: 20px;
    }
  }

  .alunos {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 38px;
    left: 0;
    width: 500px;
    max-height: 200px;

     ul {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      position: relative;
      width: 100%;
      height: auto;
      padding: 0;
      margin: 0;
    }

    li {
      display: block;
      position: relative;
      width: 100%;
      height: auto;
    }

    .result {
      cursor: pointer;
      display: block;
      position: relative;
      width: calc(100% - 32px);
      height: auto;
      padding: 4px 16px;
    }
  }
}


//
// Página:
//  Login
//

.login {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  input {
    padding: 0 8px;
    width: calc(310px - 16px);
    height: 30px;
    margin: 5px 0;
  }
}

.login-logo-sistema {
  margin: 20px 0;
  width: 450px;
  height: auto;
}

.login-title {
  margin: 15px 0;
}

.input-error-message {
  margin: 10px 0 0 0;
}

.btn-login {
  margin: 40px 0;
  width: 310px;
  height: 32px;
}


//
// Página:
//  Ver Satisfação
//

.ver-satisfacao {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  padding: 30px 50px;
  width: calc(100% - 100px);

  .section-title-alpha {
    margin-bottom:  20px;
  }
}

.satisfacao-graficos {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 800px;

  .grafico {
    margin: 0 0 20px 0;
  }

  .grafico:nth-child(even) {
    margin-left: 50px;
  }
}


.satisfacao-alunos {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 375px;
  height: auto;
}

.satisfacao-alunos-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 0 5px 0;
}

.satisfacao-alunos-header::after {
  content: '';
  display: block;
  position: absolute;
  left: -3%;
  bottom: -4px;
  width: 106%;
  height: 1px;
}

.satisfacao-alunos-list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: auto;
}

.satisfacao-alunos-item {
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  padding: 5px 10px;
  width: 100%;
  height: auto;
  margin-left: -10px;
}

.input-observacao textarea {
  width: 365px;
  height: 150px;
  margin: 5px 0 0 0;
}

.logo-senai-imprimir {
  height: 35px;
}

.satisfacao-observacoes,
.satisfacao-observacao {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.satisfacao-observacoes {
  padding: 10px 0;
}

.satisfacao-observacao {
  padding: 10px 10px;
  margin: 10px 0;
}

.satisfacao-observacao-texto {
  margin: 10px 0 0 0;
}




@page {
  size: A4;
}

@page :left {
  margin-left: 3cm;
}

@page :right {
  margin-right: 1cm;
}

@media print {
  .panel-printbar {
    display: none;
  }

  .footer {
    display: none;
  }
}

