//
// Colors
//

$white:             #FFF;
$grey:              #F0F0F0;
$black:             #000;

$senaiBlue:         #005A8E;
$senaiBlueLight:    #006CAD;
$senaiBlueDarker:   #014F7C;

$lightBlue:         #D4EEFE;


body {
  background-color: $grey;
  font-family: 'Roboto', sans-serif;
}


//
// Scrollbar
//

::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-button {
  background-color: rgba(0, 0, 0, 0.2);
  visibility: hidden;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

::-webkit-resizer {
  background-color: transparent;
}


//
// Inputs
//

[type=radio] {
  background-color: $white;
  border: 2px solid #000;
  border-radius: 100%;
  cursor: pointer;
  outline: none;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -webkit-appearance: none;
}

[type=radio]::after {
  background-color: $white;
  border-radius: 50%;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  transform: scale(0);
  transform-origin: 50% 50%;
  overflow: hidden;
}

[type=radio]:checked::after {
  background-color: $black;
  border-color: $black;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  transform: scale(0.5);
}

.input-radio.disabled {
  opacity: 0.5;
}


//
// Páginas
//

.pagina-login {
  background-color: $white;
}

.pagina-index {
  background-color: $white;
}

.pagina-painel-auto {
  background-color: $white;
}

.pagina-impressao {
  background-color: $white;

  .panel-header {
    .panel-titles {
      .panel-title { font-weight: 400; }
      .panel-subtitle { font-weight: 400; }
      .panel-lowertitle { font-weight: 400; }
    }
  }

  .grafico {
    color: $black;
    border-left-color: $black;

    .grafico-nome {
      color: $black;
    }

    .grafico-nome::before {
      background-color: $black;
    }
  }
}


//
// Header
//

.bluebar {
  background-color: $senaiBlueLight;

  ul {
    list-style-type: none;

    li {
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;

      a {
        color: $white;
        text-decoration: none;
      }
    }

    li::after {
      background-color: $senaiBlueDarker;
      transition: all 100ms ease-in-out;
    }
  }

  .submenu {
    background-color: $senaiBlueLight;

    li {
      a {
        color: $white;
        text-decoration: none;
        transition: all 150ms ease;
      }

      a:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }

    li:hover::after {
      height: 0;
    }
  }
}

.bluebar-search input {
  background-color: transparent;
  border-radius: 1px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid $white;
  color: $white;
  font-size: 14px;
  font-weight: 600;
  outline: none;
}

.bluebar-search input:focus {
  border-bottom-width: 2px;
}

.bluebar-search ::placeholder {
  color: $white;
  font-weight: 400;
}

.bluebar-search-results {
  background-color: $senaiBlueLight;
  color: $white;
}

.bluebar-search-section-title {
  font-size: 12px;
  text-transform: uppercase;
}

.bluebar-search-section-title::after {
  background-color: $white;
}

.bluebar-search-result {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.bluebar-search-result:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.bluebar-search-image-placeholder {
  border-radius: 20px;
}

.bluebar-search-name {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.bluebar-logo::after {
  background-color: rgba(255, 255, 255, 0.5);
}

.bluebar-title {
  color: $white;
  font-size: 22px;
  font-weight: 300;
}

.bluebar-username {
  color: $white;
  cursor: pointer;
}

.bluebar-user-picture {
  border-radius: 38px;
  overflow: hidden;
}

.navbar {
  background-color: $black;
}

.navbar ul {
  list-style-type: none;
}

.navbar li {
  color: $white;
}

.navbar li::after {
  background-color: $white;
  transition: all 100ms ease-in;
}

.navbar a {
  color: $white;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}


//
// Inputs
//

.input {
  label {
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
  }

  input:not([type=radio]) {
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $black;
    font-family: 'Open Sans', sans-serif;
  }

  input:focus {
    border-bottom-width: 2px;
    outline: none;
  }

  textarea {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $black;
  }

  textarea:focus {
    border-bottom-width: 2px;
    outline: none;
  }

  select {
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $black;
    font-family: 'Open Sans', sans-serif;
  }

  select:focus {
    outline: none;
    border-bottom-width: 2px;
  }
}

.input.--file {
  cursor: pointer;

  input {
    cursor: pointer;
    opacity: 0;
  }

  label {
    border-bottom: 1px solid $black;
    font-size: 12px;
  }
}

.input.--file:hover {
  label {
    border-width: 2px;
  }
}

.input-preview {
  font-family: 'Open Sans', sans-serif;
}

.input-title {
  font-size: 16px;
  font-weight: 500;
}

.input-description {
  margin: 5px 0;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}


// Added Items List

.added-item:nth-child(odd)::before {
  background-color: rgba(0, 0, 0, 0.05);
}


//
// Buttons
//

.btn {
  border: none;
  cursor: pointer;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 160ms ease-in;
}

.btn.btn-alpha {
  background-color: $white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  font-size: 12px;
  font-weight: 400;
}

.btn.btn-alpha:hover {
  background-color: $lightBlue;
}

.btn.btn-beta {
  background-color: transparent;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 400;
}

.btn.btn-beta:hover {
  background-color: $lightBlue;
}

.btn.btn-grid {
  background-color: $white;
  border: 1px solid $grey;
  font-size: 13px;
  text-transform: uppercase;
}

.btn.btn-grid:hover {
  background-color: $lightBlue;
  border: 1px solid #91D4FD;
}

.btn.btn-add {
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.btn.btn-add:hover {
  background-color: $lightBlue;
}

.btn.btn-delete {
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  overflow: hidden;
}

.btn.btn-delete:hover {
  background-color: $lightBlue;
}


// BuscaAvaliacoes

.busca-avaliacoes {
  .results {
    background-color: $white;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
    z-index: 1;

    ul {
      list-style-type: none;
    }

    a {
      color: #000;
      font-size: 16px;
      text-decoration: none;
    }

    a:hover {
      background-color: #EEE;
    }

    a:focus {
      background-color: #EEE;
    }
  }

  .search {
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.08);
  }

  .search-input {
    background-color: transparent;
    border: none;
    font-size: 16px;
    outline: none;
  }

  .search-arrow {
    background-color: transparent;
  }

  .search-arrow svg {
    fill: #006CAD;
  }
}


// Grafico

.grafico {
  border-left: 1px solid rgba(0, 0, 0, 0.5);
}

.grafico-nome {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}

.grafico-nome::before {
  background-color: rgba(0, 0, 0, 0.5);
}


// Loading

.loading-background {
  background-color: rgba(0, 0, 0, 0.5);
}


// Modal

.modal-background {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  background-color: $white;
}

.modal-header {
  background-color: #01659F;
}

.modal-header::after {
  background-color: $senaiBlueDarker;
}

.modal-title {
  color: $white;
  padding: 10px 15px;
  font-size: 18px;
}

.modal-close {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}


// Panel

.panel-printbar {
  background-color: $senaiBlueLight;
  border-bottom: 4px solid $senaiBlueDarker;
}

.panel-header {
  .panel-titles {
    .panel-title {
      color: $black;
      font-family: 'Roboto', sans-serif;
      font-size: 34px;
      font-weight: 300;
    }

    .panel-title.--with-button::after {
      background-color: rgba(0, 0, 0, 0.15);
    }

    .panel-subtitle {
      color: $black;
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      font-weight: 300;
    }

    .panel-lowertitle {
      color: $black;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      font-weight: 300;
    }
  }
}

.panel-header.--with-line::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.025);
}


// Section

.section-title-alpha {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

// Footer

.footer {
  background-color: $grey;
  border-top: 2px solid #eaeaea;
}

.footer-devnote {
  color: #464646;
  font-size: 14px;
}

.footer-devnote a {
  color: #464646;
  text-decoration: none;
}

.footer-devnote a:hover {
  text-decoration: underline;
}

.footer-login {
  color: #464646;
  font-size: 14px;
  text-decoration: none;
}

.footer-login:hover {
  text-decoration: underline;
}


//
// Página:
//  Login
//

.login {
  input[required] {
    border-radius: 1px;
    border: 1px solid rgba(0, 0, 0, 0.25);
  }

  input:focus {
    border: 1px solid rgba(0, 0, 0, 0.45);
  }

  input::placeholder {
    font-size: 14px;
  }

  .input.--error input {
    border: 1px solid #e81123;
  }

}

.login-title {
  font-family: 'Roboto', sans-serif;
  font-size: 34px;
  font-weight: 300;
}

.login-description {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.input-error-message {   
  color: #e81123;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.btn-login {
  background-color: #006CAD;
  border-radius: 1px;
  border: 3px solid transparent;
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-transform: none;
}

.btn-login:hover {
  background-color: $senaiBlueDarker;
}


//
// Página:
//  Avaliação de Satisfação
//

.satisfacao {
  background-color: rgba(255, 255, 255, 1);
  -webkit-box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow:    2px 2px 10px 1px rgba(0, 0, 0, 0.05);
  box-shadow:         2px 2px 10px 1px rgba(0, 0, 0, 0.05);
}

.satisfacao-header {
  border-bottom: 5px solid $grey;
}

.satisfacao-separator {
  background-color: rgba(0, 0, 0, 0.25);
}

.satisfacao-descricao {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-align: center;
}

.satisfacao-step2-message {
  font-size: 18px;
}

.satisfacao-step2-link {
  color: #000;
  text-decoration: none;
}

.satisfacao-step2-link:hover {
  color: #01659F;
  border-bottom: 1px solid #01659F;
}

.satisfacao-area-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.satisfacao-area-title::before {
  background-color: #01659F;
}

.satisfacao-area {
  textarea { 
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000;

    textarea:focus {
      outline: none;
      border-bottom-width: 2px;
    }
  }
}


//
// Página:
//  Ver Satisfação
//

.satisfacao-observacao {
  border-left: 2px solid $black;
}

.satisfacao-observacao-nome {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.satisfacao-observacao-texto {
  font-size: 16px;
  font-weight: 400;
}


//
// Página:
//  Nova/Editar Turma
//

.turma {
  .alunos {
    background-color: $white;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);

    ul {
      list-style-type: none;
    }

    .result {
      color: #000;
      font-size: 16px;
      text-decoration: none;
    }

    .result:hover {
      background-color: #EEE;
    }

    .result:focus {
      background-color: #EEE;
    }

    .bold-text {
      font-weight: 600;
    }
  }
}


//
// Página:
//  Ver Satisfação
//

.satisfacao-alunos-header {
  .satisfacao-alunos--nome,
  .satisfacao-alunos--realizou {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }
}

.satisfacao-alunos-header::after {
  background-color: rgba(0, 0, 0, 0.25);
}

.satisfacao-alunos-item {
  color: #000;
  text-decoration: none;

  .satisfacao-alunos--nome,
  .satisfacao-alunos--realizou {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }
}

.satisfacao-alunos-item:nth-child(odd) {
  background-color: #f0f0f0;
}

.satisfacao-alunos-item:hover {
  background-color: #D4EEFE;
}

.satisfacao-alunos--nome,
.satisfacao-alunos--realizou {
  font-size: 14px;
}

